<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Enforce canonical hostname" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^www\.readygocabs\.com$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.readygocabs.com/{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="Hide .html ext">
          <match url="^(.*)" ignoreCase="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.html"/>
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
          <match url="^(.*).html"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).html"/>
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>